@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.carousel-img {
  height: 700px;
  width: 100%;
  object-fit: cover;
 
}
.swiper-slide-active .carousel-img {
  animation: zoomIn 6s ease-in-out forwards;
}

.custom-caption {
  position: absolute;
  left: 16%;
  bottom: 25%;
  text-align: left;
  padding: 2rem;
  max-width: 800px;
  border-radius: 0;
  z-index: 10;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  font-size: 3.2rem;
  font-weight: 470;
  margin: 0.5rem 0 2rem 0;
  color: #000000b9;
  opacity: 0;

}

 
.quote-btn {
 background-color: #dcc325;
  color: black;
  border: none;
  letter-spacing: 1.5px;
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 0px;
  font-size: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;

  transform: translateY(50px);
  opacity: 0;
  transition: background-color 2.7s ease, color 2.7s ease;
}
.quote-btn:hover {
  color: white;
  background-color: #00bcd4;
}


@keyframes fadeInUnder {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}


.section-line-title {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #2b0303;
  font-size: 18px;
  font-weight: 750;
  opacity: 0;
}
.swiper-slide-active .subtitle {
  animation: fadeInLeft 2s ease-out forwards;
  animation-delay: 0.6s;
}

.swiper-slide-active .quote-btn {
  animation: fadeInUnder 1s ease-out forwards;
  animation-delay: 0.9s;
}

.swiper-slide-active .section-line-title {
  animation: fadeInLeft 1s ease-out forwards;
  animation-delay: 0.3s;
}


.section-number {
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
}

.section-line {
  width: 60px;
  height: 3px;
  background-color: #00bcd4;
  margin: 20px 3px;
}

.section-text {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background: #00bcd4;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #00bcd4;
  opacity: 1;
}
