.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;  
  padding: 20px;
 
}

.feature-item {
  background-color: #09afe2;
  color: white;
  padding: 20px 30px;
  border-radius: 0;
  width: 200px;
  height: 200px;

  display: flex;
  flex-direction: column;      
  align-items: center;         
  justify-content: center;    
  gap: 12px;                   

  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
  cursor: default;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.feature-item:hover {
  background-color: lightgreen;
  transform: translateY(-6px);
}

.feature-item strong {
  font-size: 1.1rem;
  flex-grow: 0;    
  text-align: center;
}

.feature-item i {
  font-size: 3rem;  
  color: white;
}

@media (max-width: 600px) {
  .features-container {
    flex-direction: column;
    align-items: center;
  }

  .feature-item {
    width: 100%;
    max-width: 300px;
    justify-content: center;
  }
}
