.adrcss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.adrcss strong {
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.adrcss h3 {
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  display: flex;
  color: rgb(1, 136, 136);
  align-items: center;
  gap: 9px;
  white-space: nowrap;
}
.adrcss i {
  font-size: 18px;
  color: #f1c40f;
  min-width: 20px;
}
.vertical-line {
  width: 1px;
  background-color: rgb(212, 185, 185);
  height: 50px;
}
.horizontal-line {
  border: none;
  height: 2px;
  background-color: white;
  width: 100%;
  margin: 20px auto 0;
}


.footer {
  background-color: #2e2d32;
  color: #fff;
  padding: 60px 40px 30px;
  font-family: 'Arial', sans-serif;
}


.footer-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 50px;
  margin-top: 30px;
  flex-wrap: wrap;
  text-align: left; 
}

.footer-section {
  flex: 0 1 280px;
  max-width: 300px;
  margin: 10px;
}

.footer-about h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: left;
}
.footer-about p {
  font-size: 14px;
  line-height: 1.8;
  color: #ccc;
  text-align: left;
}
.quote-title {
  margin-top: 15px;
  text-align: left;
  font-weight: bold;
}
.quote-number {
  color: #fcd462;
  font-size: 20px;
  margin-top: 5px;
  text-align: left;
}


.footer-links-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 15px;
  gap: 15px 30px;
  max-width: 500px;
  justify-content: flex-start;
}

.footer-links-list li {
  width: 22%; 
  min-width: 120px;
}

.footer-links-list a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

.footer-links-list a:hover {
  color: #fcd462;
  text-decoration: underline;
}


.footer-newsletter h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #fcd462;
}
.footer-newsletter input[type="email"] {
  padding: 10px;
  width: 290px;
  height: 60px;
  max-width: 290px;
  margin-bottom: 10px;
}
.footer-newsletter button {
  background-color: #fcd462;
  color: #000;

  padding: 20px 20px;
  cursor: pointer;
  font-weight: bold;
}


.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap:780px;
  align-items: center;
  flex-wrap: wrap;
  
}
.footer-bottom p {
  font-size: 14px;
  color: #aaa;
}


.footer-socials {
  display: flex;
  gap: 13px;
  margin-top: 10px;
  
 
}
.footer-socials a {
  background-color: white;
  color: #2e2d32;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.footer-socials a:hover {
  background-color: #fcd462;
  color: #2e2d32;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    max-width: 100%;
  }

  .footer-links-list {
    justify-content: center;
  }

  .footer-links-list li {
    width: 100%;
    text-align: center;
  }
}
