
.form-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 50px 20px;
  background: #f3f3f3;
  flex-wrap: wrap;
  overflow-x: hidden;
}


.form-image {
  position: relative;
  left: -180px; 
  flex-shrink: 0;
  top:-40px;
}

.form-image img {
  height: 700px;
  width: 900px;
  object-fit: cover;
  border-radius: 0;
}


.form-container {
  max-width: 700px;
  width: 100%;
  margin-left: -30px;
  padding: 80px 0px;
}


.form-container h4 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1d1d1d;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}




.form-container p {
  font-size: 24px;
  text-align: left;
  margin-bottom: 30px;
  color: #2e2e2e;
  font-weight: 300;
  left: 20px;
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-row input {
  flex: 1;
  min-width: 250px;
}

input,
select {
  padding: 19px;
  font-size: 16px;
  border: none;
  background: white;
  flex: 1;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 0 0 1px #e0e0e0 inset;
}


  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23999'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 10px 6px;
  }


button {
  background-color: #ffd05a;
  padding: 14px 24px;
  border: none;
  font-weight: 900px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.9s ease;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

button:hover {
  background-color: #08c5ff;
}


@media (max-width: 768px) {
  .form-section {
    flex-direction: column;
    align-items: center;
  }

  .form-image {
    left: 0;
    width: 100%;
    text-align: center;
  }

  .form-image img {
    width: 100%;
    height: auto;
  }
}
