.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: #ffee81;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px 18px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 999;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top:hover {
  background-color: #007c91;
}
