@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    font-family: "Nunito", sans-serif;
}

.services-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    background-color: #f4f4f4;
    position: relative;

}

.Service-title {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 250;
    margin-bottom: 40px;
    color: #2e0000;
}

.service-card {
    font-family: "Patrick Hand", cursive;
    padding: 12px;
    width: 370px;
    height: 40rem;
    background: white;
    overflow: hidden;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000;
    
}

.card-img-container {
    position: relative;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.4s ease;
    margin-bottom: 30px;
}

.icon-overlay {
    position: absolute;
    top: 135px;
    left: 0px;
    background: white;
    padding: 10px;
    border-radius: 0px;
    font-size: 30px;
    transition: background 0.4s ease;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 3px;
    letter-spacing: 2px;
}

.card-text {
    
    letter-spacing: 2px;
    font-size: 15px;
    font-weight:890 px;
    color: gray;
    transition: color 0.4s ease;
}



.learn-more-btn1 {
  
  padding: 17px 29px;
  border: none;
  background-color:#f5f5f5;

  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s ease;
}


.service-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #1e1e1e;
    color: white;
}

.service-card:hover .card-img {
    filter: brightness(0.5);
}

.service-card:hover .card-title {
    color: #beeb08df;
}

.service-card:hover .card-text {
    color: #f4f4f4;
}

.service-card:hover .card-footer {
    background-color: #beeb08df;
}
.service-card:hover .learn-more-btn1{
background-color: #beeb08df;
}