.testimonial-section {
  background-color: #f9f9f9;
  height: 500px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.testimonial-swiper {
  width: 100%;
  height: 100%;
}

.testimonial-content {
  text-align: center;
  padding: 20px;
  max-width:800px;
  margin: 0 auto;
}

.testimonial-avatars img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.testimonial-text {
  font-size: 1.7rem;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.testimonial-name {
  font-weight: bold;
  margin: 0;
}

.testimonial-role {
  font-size: 0.8rem;
  color: #888;
}
.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
}

/* Approche vers le centre */
.swiper-button-prev {
  left: 20%; /* بدل 0px أو valeur par défaut */
}

.swiper-button-next {
  right: 20%; /* pareil ici */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px; /* taille de la flèche */
  color: #000000;
  font-weight: bold;
}


